html, body, section {
    block-size: 100%;
      background: #15294A;
      font-family:'Roboto Condensed';
      /* font-size:28pt; */
      /* font-size:18pt; */
}
  html {
    scroll-snap-type: y mandatory;
  }
  
  .AboutChart{
    display:flex;
    flex-direction: column;
    margin-top:1rem;
  }

  .geolayer{
    transform: scale(1.2)translateX(-84px)translateY(-49px);
  }
  
  .AboutChart p{
    font-size:1rem;
    /* padding: 0 1.5rem; */
  }

  .col-md{
    margin:auto
  }
  
  .TotalLives{
    background-color:#15294A;
    padding:0;
    display:flex;
    flex-direction: column;
  }
  
  .TotalLives .row{
    display: flex;
      flex-direction: row-reverse;
  }
  .peopleChartTxt {
    font-size: 1.5rem;
    display: flex;
    height: 8rem;
    align-items: center;
    height: auto;
  }
  
  .col-8{
    justify-content: flex-start;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
    
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #BAE9E4;
    background: #15294A;
  }
  
  .glassButton{
    background: #BAE9E4;
    border: 2px solid #2ca08ecf;
    box-shadow: 0px 6px 5px #03122a;
    border-radius: 15px;
    color: #0B7564;
    width:26%;
    text-align:    center;
    font-size: 1.8rem;
    padding:10px;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  .glassButton:hover{
    background: #0B7564;
      box-shadow: 0px 4px 4px #9fe0d840;
    text-decoration: none;
    color:#BAE9E4;
  }
  
  .glassButton:hover span{
    transform: scale(1.1) perspective(1px);
      will-change: transform;
  }
  
  .citation{
    text-align:center;
    font-size: 0.9rem;
    position:relative;
    top:10rem;
  }
  
  #scroll-progress {
    position: fixed;
    bottom: 0;
    width: 2%;
    height: 4px;
    background: #D52D1F;
    z-index: 10000;
  }
  
  .maskB {
    -webkit-mask-image: url(baby.svg);
    mask-image: url(baby.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  }
  
   .maskM {
    -webkit-mask-image: url(mother.svg);
    mask-image: url(mother.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  }
  
  .babyPercent{
    background-image: linear-gradient(0deg, #48998C 70%, #48998c4a 72%);
     
  }
  .babyPercent, .motherPercent{
    width: 20rem;
    height: 20rem;
  }
  
  .motherPercent{
    width: 15rem;
    background:linear-gradient(0deg,#D52D1F 95%,#D52D1F4a 97%)
  }
  
  .imagesHolder{
    width:100vw;
    height:100%;
    position:relative;
  }
  
  .imagesHolder img{
    position:absolute;
    opacity:0.8
  }
  
  .MotherInfantLoss{
      display: flex;
      flex-direction: column;
      /* padding: 0 27px; */
      width: 30%;
      margin-right: 1.5rem;
  }
  
  .personCount{
    transition: opacity 4000ms;
    will-change: opacity;
    color:#15294A;
    font-size: 1.8rem;
      margin: 1.25rem;
    animation-name: people;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes people {
    0% {color:#15294A}
    50%{color:#48998C}
    100% {color: #BAE9E4}
  }
  
  .peopleImg{
    opacity: 0;
    font-size: 2.3rem;
  }
  
  @keyframes IMGpeople {
    0% {opacity:0}
    100% {opacity: 1}
  }

  .livesSaved{
    font-size:1.8rem;
    font-weight:bold;
  }
  
  .livesSaved::after {
    content: '1,232,'counter(count);
    animation: counter 3s linear 1 alternate;
    counter-reset: count 402;
  }
  
  .babyStat, .motherStat{
    font-size:1.5rem;
  }
  
  .babyStat::after {
    content: counter(Bcount)'%';
    animation: counterBMort 3s ease-out 1 alternate;
    counter-reset: Bcount 27;
  }
  .motherStat::after {
    content: counter(Mcount) ;
    animation: counterMMort 3s ease-out 1 alternate;
    counter-reset: Mcount 295000;
  }
  
  @keyframes counter {
    0% {
      counter-set: count 330;
    }
    10% {
      counter-set: count 338;
    }
    20% {
      counter-set: count 346;
    }
    30% {
      counter-set: count 352;
    }
    40% {
      counter-set: count 359;
    }
    50% {
      counter-set: count 367;
    }
    60% {
      counter-set: count 374;
    }
    70% {
      counter-set: count 385;
    }
    80% {
      counter-set: count 391;
    }
    90% {
      counter-set: count 398;
    }
    100% {
      counter-set: count 406;
    }
  }
  
  @keyframes counterMMort {
    0% {
      counter-set: Mcount 354000;
    }
    10% {
      counter-set: Mcount 343000;
    }
    20% {
      counter-set: Mcount 334000;
    }
    30% {
      counter-set: Mcount 326000;
    }
    40% {
      counter-set: Mcount 319000;
    }
    50% {
      counter-set: Mcount 313000;
    }
    60% {
      counter-set: Mcount 306000;
    }
    70% {
      counter-set: Mcount 300000;
    }
    100% {
      counter-set: Mcount 295000;
    }
  }
  
  @keyframes counterBMort {
    0% {
      counter-set: Bcount 39;
    }
    10% {
      counter-set: Bcount 37;
    }
    20% {
      counter-set: Bcount 36;
    }
    30% {
      counter-set: Bcount 35;
    }
    40% {
      counter-set: Bcount 33;
    }
    50% {
      counter-set: Bcount 32;
    }
    60% {
      counter-set: Bcount 31;
    }
    70% {
      counter-set: Bcount 30;
    }
    80% {
      counter-set: Bcount 29;
    }
    90% {
      counter-set: Bcount 29;
    }
    100% {
      counter-set: Bcount 27;
    }
  }
  
  @media screen and (max-width:1090px){
    /* h1{
      font-size: 1em;
    }
    h3{
      font-size: 0.89em;
    }
    h4{
      font-size: 0.6em;
    }
    h6{
      font-size: 0.48em;
    } */
  
    .row{
      flex-direction: column;
    }
    .MotherInfantLoss{
      width:100%;
    }
    section{
     margin:2rem 0;
    }
  }
  
  /* @media screen and (max-width:760px){
    .AboutChart{
    display:none;
    }
  } */